body,html{width: 100%;height: 100%;position: relative;}
.swiper-container{width:100%; height:100%;}
.swiper-wrapper{width:100%; height:100%;}
.swiper-slide{width:100%; height:100%;}
.swiper-slide img{position: absolute;}
.swiper-slide .bg{height:100%;width: 100%;}
a{width: 80%;margin-left: 10%;height: 3rem;border-radius:3rem;display: block;bottom:5rem;text-align: center;border:1px solid #ccc;line-height: 3rem;z-index: 10;position: absolute;font-weight: bold;}
h1{layout-flow: vertical-ideographic;z-index: 10;position: absolute;width:50px;left: 10%;color:#fff ;top:4rem;letter-spacing: 1rem;}
h2{z-index: 10;position: absolute;color:#fff ;font-weight: 400;font-size: 1.25rem;width: 100%;text-align: center;margin-top: 10rem;}
h3{layout-flow: vertical-ideographic;z-index: 10;position: absolute;width:30px;left: 25%;color:#fff ;top:12rem;font-weight: 400;}
